<!--ThreadComponent component -->

<!-- Wrapper-->
<div *ngIf="thread" class="wrapper pt-10 px-8 flex flex-col items-center w-full">
  <!-- Card-->
  <article class="mb-4 break-inside p-6 rounded-xl bg-white dark:bg-slate-800 flex flex-col bg-clip-border w-full">
    <div class="flex pb-6 items-center justify-between">
      <div class="flex">
        <a class="inline-block mr-4">
          <!-- Immagine profilo dell'utente -->
          <img class="rounded-full max-w-none w-12 h-12" [src]="thread.user.profileImage" />
        </a>
        <div class="flex flex-col">
          <div>
            <!-- Username dell'utente -->
            <a class="inline-block text-lg font-bold dark:text-white">@{{thread.user.username}}</a>
          </div>
          <!-- Data di creazione del Thread -->
          <div class="text-slate-500 dark:text-slate-300">
            {{thread.createdAt | date:'medium'}}
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-3xl font-extrabold dark:text-white">
      <!-- Titolo del thread -->
      {{thread.title}}
    </h2>

    <div class="flex items-center py-4">
      <!-- Comment Section -->
      <div class="flex-1 flex items-center text-white text-xs hover:text-blue-400 transition duration-350 ease-in-out">
        <span class="material-icons">
          mode_comment
        </span>
        <span class="ml-2">
          {{ messages.length || 0 }}
        </span>
      </div>

      <div class="flex-1 flex items-center text-white text-xs transition duration-350 ease-in-out"
        [class.liked]="thread && thread.likeStatus === 'like'" (click)="handleLikeThread(thread.id.toString())">
        <span class="material-icons">
          thumb_up
        </span>
        <span class="ml-2">
          {{ thread ? thread.likeCount : 0 }}
        </span>
      </div>

      <div class="flex-1 flex items-center text-white text-xs transition duration-350 ease-in-out"
        [class.disliked]="thread && thread.likeStatus === 'dislike'"
        (click)="handleDislikeThread(thread.id.toString())">
        <span class="material-icons">
          thumb_down
        </span>
        <span class="ml-2">
          {{ thread ? thread.dislikeCount : 0 }}
        </span>
      </div>

    </div>

    <div class="w-full mx-auto">
      <form (ngSubmit)="createMessage()">
        <label for="chat" class="sr-only">Write your message</label>
        <div class="flex flex-col items-center py-2 px-3 bg-gray-500 rounded-lg">
          <div class="flex items-center w-full">
            <button type="button" class="inline-flex justify-center p-2 text-gray-50 rounded-lg cursor-pointer">
              <label for="imageInput">
                <span class="material-icons">
                  image
                </span>
              </label>
            </button>
            <!-- Pulsante per rimuovere l'immagine -->
            <button type="button" (click)="removeImage()"
              class="inline-flex justify-center p-2 text-red-600 rounded-full cursor-pointer hover:bg-red-100"
              *ngIf="previewImage">
              <span class="material-icons">
                remove_circle
              </span>
            </button>
            <input type="file" (change)="onFileSelected($event)" id="imageInput" style="display:none;" />
            <textarea id="chat" name="newMessageText" rows="1" [(ngModel)]="newMessageText"
              class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Your message...">
            </textarea>
            <button type="submit"
              class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100">
              <span class="material-icons">
                publish
              </span>
            </button>
          </div>
          <!-- Immagine renderizzata sotto la input box -->
          <div *ngIf="previewImage" class="mt-4">
            <img [src]="previewImage" class="w-20 h-20 object-cover rounded mx-auto" />
          </div>
        </div>
      </form>
    </div>
    <!-- i commenti avranno questa struttura senza il reply ma con solo like e dislike -->
    <!-- Comments content -->
    <div class="pt-6">
      <!-- Loop attraverso ciascun messaggio -->
      <div *ngFor="let message of messages" class="message-container my-4 w-full">

        <!--horizantil margin is just for display-->
        <div class="flex flex-col bg-blueSoft shadow-lg rounded-lg">
          <!-- Cambiato in flex-col -->
          <div class="flex items-start px-4 py-6">
            <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" [src]="userImages[message.user.username]"
              alt="Profile Image">

            <div class="">
              <div class="flex items-center justify-between">
                <h2 class="text-lg font-semibold text-gray-400 -mt-1" *ngIf="message.user">{{ message.user.username }}
                </h2>
                <small class="text-sm text-gray-400">{{ message.createdAt | date:'medium' }}</small>
              </div>
              <p class="mt-3 text-white text-sm">
                {{ message.text }}
              </p>
              <img *ngIf="message.image" [src]="message.image" alt="Message Image"
                class="w-20 h-20 object-cover rounded" />
              <div class="mt-4 flex items-center">
                <!-- pulsante per aggiungere un commento -->
                <div class="flex text-white text-sm mr-3" (click)="toggleCommentInput(message.id)">
                  <span class="material-icons">
                    chat
                  </span>
                  <!-- <span>{{message.comments.length || 0}}</span> -->
                </div>
                <div class="flex text-white text-sm mr-3" [class.liked]="message && message.likeStatus === 'like'"
                  (click)="handleLikeMessage(message.id.toString())">
                  <span class="material-icons">
                    thumb_up
                  </span>
                  <span>{{message.likeCount}}</span>
                </div>

                <div class="flex mr-2 text-white text-sm"
                  [class.disliked]="message && message.likeStatus === 'dislike'"
                  (click)="handleDislikeMessage(message.id.toString())">
                  <span class="material-icons">
                    thumb_down
                  </span>
                  <span>{{message.dislikeCount}}</span>
                </div>


              </div>

            </div>
          </div>
          <!-- Input box for writing a comment -->
          <div *ngIf="showCommentInput[message.id]" class="w-full p-4">
            <!-- Added flex and justify-center for centering -->
            <form (ngSubmit)="createComment(message.id, newCommentText)" class="">
              <!-- Changed from w-full to w-full -->
              <label for="comment" class="sr-only">Write your comment</label>
              <div class="relative flex py-2 w-full bg-gray-500 rounded-lg">
                <!-- Cambiato in flex -->
                <textarea id="comment" name="newCommentText" [(ngModel)]="newCommentText"
                  class="block p-2.5 flex-grow text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Write a comment..."></textarea> <!-- Aggiunto flex-grow -->
                <button type="submit"
                  class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100">
                  <span class="material-icons">
                    publish
                  </span>
                </button>
              </div>

            </form>
          </div>
        </div>

        <!-- Comment row -->
        <div *ngIf="showCommentInput[message.id] && comments[message.id] && comments[message.id].length > 0"
          class="bg-transparent mt-4">
          <div *ngFor="let comment of comments[message.id]"
            class="media flex bg-gray-500 ml-auto w-3/4 mb-2 rounded-tl-lg rounded-tr-lg rounded-bl-lg rounded-br-lg">
            <div class="media flex pb-2 bg-gray-500 rounded-tl-lg rounded-tr-lg rounded-bl-lg rounded-br-lg">
              <a class="mr-2">
                <img *ngIf="comment.user" class="rounded-full max-w-none w-8 h-8"
                  [src]="userImages[comment.user.username]" alt="Profile Image">

              </a>
              <div class="media-body text-sm">
                <div>
                  <a class="inline-block text-sm font-bold mr-2">{{ comment.user.username }}</a>
                  <span
                    class="text-slate-500 dark:text-slate-300 text-xs">{{ comment.createdAt | date:'medium' }}</span>
                </div>
                <p>{{ comment.text }}</p>
                <div class="mt-1 flex items-center">
                  <button class="inline-flex items-center py-1 mr-2" [class.liked]="comment.likeStatus === 'like'"
                    (click)="handleLikeComment(comment.id.toString(), message.id)">
                    <span class="mr-1">
                      <span class="material-icons text-xs">thumb_up</span>
                    </span>
                    <!-- <span class="text-base font-bold text-xs">{{ comment.likeCount }}</span> -->
                  </button>
                  <a class="inline-flex items-center py-1 mr-2" [class.disliked]="comment.likeStatus === 'dislike'"
                    (click)="handleDislikeComment(comment.id.toString(), message.id)">
                    <span class="mr-1">
                      <span class="material-icons text-xs">thumb_down</span>
                    </span>
                    <!-- <span class="text-base font-bold text-xs">{{ comment.dislikeCount }}</span> -->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Comments content -->
  </article>
</div>
<!-- End Wrapper-->
