<section class="mt-16">
  <div class="pt-2 relative mx-auto text-gray-600 flex items-center justify-center">
    <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search"
      name="search" [placeholder]="searchType === 'user' ? 'Search User' : 'Search Thread'" (input)="search()"
      [(ngModel)]="searchTerm">
    <button (click)="refresh()" type="reset"
      class="ml-2 bg-red-500 hover:bg-red-700 text-white h-10 flex items-center justify-center px-4 rounded">
      <span class="text-gray-200 fill-current material-icons">
        restart_alt
      </span>
    </button>
    <button (click)="toggleSearchType()"
      class="ml-2 bg-green-500 hover:bg-green-700 text-white h-10 flex items-center justify-center px-4 rounded">
      <span class="text-gray-200 fill-current material-icons" *ngIf="searchType === 'user'; else threadIcon">
        people
      </span>
      <ng-template #threadIcon>
        <span class="text-gray-200 fill-current material-icons">
          post_add
        </span>
      </ng-template>
    </button>
  </div>
</section>

<main class="antialiasedù font-sans bg-gray-200">
  <div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight">{{searchType === 'user' ? 'Users' : 'Threads'}}</h2>
      </div>

      <!-- Tabella per la ricerca degli utenti -->
      <div *ngIf="searchType === 'user'; else threadTable" class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="h-96 overflow-y-auto rounded-lg overflow-hidden">
          <table class="table-fixed w-full">
            <thead class="sticky top-0 z-10">
              <tr>
                <th
                  class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase">
                  User
                </th>
                <th
                  class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase">
                  Following
                </th>
                <th
                  class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase">
                  Followers
                </th>
                <th
                  class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase">
                  Threads
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of results" class=" cursor-pointer bg-white hover:bg-gray-400" (click)="navigateToProfile(user.username)">
                <td class="px-5 py-5 border-b border-gray-200 text-sm ">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 w-10 h-10">
                      <img class="w-full h-full rounded-full" [src]="user.profileImageUrl"/>
                    </div>
                    <div class="ml-3">
                      <p class="text-gray-900 whitespace-no-wrap">
                        {{user.username}}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{user.followingCount}}</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{user.followersCount}}</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
                  <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                    <span class="relative">{{user.threadsCount}}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Tabella per la ricerca dei thread -->
      <ng-template #threadTable>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="h-96 overflow-y-auto rounded-lg overflow-hidden">
            <table class="table-fixed w-full">
              <thead class="sticky top-0 z-10">
                <tr>
                  <th
                    class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    Title
                  </th>
                  <th
                    class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    Created At
                  </th>
                  <th
                    class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    Like
                  </th>
                  <th
                    class="w-1/5 px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    Dislike
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let thread of results" class="bg-white hover:bg-gray-400" (click)="navigateToThread()">
                  <td class="px-5 py-5 border-b border-gray-200 text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">{{thread.title}}</p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">{{thread.createdAt}}</p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">{{thread.likesCount}}</p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">{{thread.dislikesCount}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</main>
