<section class="mt-20">
  <!-- RICERCA USERS -->
  <div class="pt-2 relative mx-auto text-gray-600">
    <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search"
      name="search" placeholder="Search User">
    <button type="submit" class="absolute right-0 top-0 mt-4 mr-4">
      <span class="text-gray-600 h-4 w-4 fill-current material-icons">
        search
      </span>
    </button>
  </div>

  <!-- RICERCA THREADS -->
  <div class="pt-2 relative mx-auto text-gray-600">
      <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search"
        name="search" placeholder="Search Threads">
      <button type="submit" class="absolute right-0 top-0 mt-4 mr-4">
        <span class="text-gray-600 h-4 w-4 fill-current material-icons">
          search
        </span>
      </button>
  </div>
</section>