<div class="bg-blue-500 py-2 h-10 flex items-center justify-between px-6 fixed-div" style="z-index: 100">
  <div>
    <h1 class="text-white font-bold">{{ title.toUpperCase() }}</h1>
  </div>
  <div class="flex space-x-4 justify-center flex-grow">
    <button routerLink="/home" [ngClass]="{'bg-blue-800': currentRoute === 'home'}" class="bg-blue-500 text-white material-icons p-2 rounded transition-colors duration-300 ease-in-out">
      <span class="material-icons">
        home
      </span>
    </button>
    <button routerLink="/search" [ngClass]="{'bg-blue-800': currentRoute === 'search'}" class="bg-blue-500 text-white material-icons p-2 rounded transition-colors duration-300 ease-in-out">
      <span class="material-icons">
        search
      </span>
    </button>
    <button routerLink="/profile" [ngClass]="{'bg-blue-800': currentRoute === 'profile'}" class="bg-blue-500 text-white material-icons p-2 rounded transition-colors duration-300 ease-in-out">
      <span class="material-icons">
        account_circle
      </span>
    </button>
    <button (click)="logout()" class="bg-blue-500 text-white material-icons p-2 rounded transition-colors duration-300 ease-in-out">
      <span class="material-icons">
        logout
      </span>
    </button>
  </div>
</div>


